/*
   Do not decorate list items in the post listings
*/
ul.post-list {
    list-style-type: none
}

a {
    color: black;
}

.utterances {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.post-item {
    max-width: 6in;
    margin: 20px 20px 75px 20px;
    border-bottom: thin dashed #C2C2D6;
}

p {
    font-family: 'Source Sans Pro', serif;
    margin-bottom: 0;
}

p + p {
    font-family: 'Source Sans Pro', serif;
    margin-top: 1em;
    text-indent: 2em;
}

.post-footer {
    margin-top: 2em;
}

.post-content {
    line-height: 1.5;
}

.post-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.post-content h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}

.post-content h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
}

.comment-span {
    margin-bottom: 20px;
}

.about {
    width: 6in;
    margin: 20px 20px 50px 20px;
}

.post-metadata {
    font-style: italic;
    font-size: 0.75em;
    float: right;
}

#disqus_thread {
    margin-left: 1in;
    max-width: 6in;
}

#menu {
  margin: 20px;
}

#menu ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

#menu li {
  list-style-type: none;
  display: inline;
  padding-right: 1em;
}

#tag-cloud {
    width: 4in
}

div#menu > ul > li > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1.post-item-title > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

h1.post-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

code, pre.sourceCode {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
}

.post-item-title > a {
    color: black;
}

.post-item-title > a:hover {
    text-decoration: none;
}

.post-metadata, .post-metadata > a {
    color: #aaaaaa;
    text-decoration: none;
}
