<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hk-tango.css"/>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="https://github.com/travitch">Git Repositories</a></li>
        <li><a href="http://pages.cs.wisc.edu/~travitch">Research</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>

    $body$
  </body>
</html>
