<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/hk-tango.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Code+Pro" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="https://github.com/travitch">Github</a></li>
        <li><a href="http://pages.cs.wisc.edu/~travitch">Research</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>

    $body$
  </body>
</html>
