<div class="post-item">
  <h1 class="post-title">$title$</h1>
  <div class="post-body">
    $body$
  </div>
  <div class="post-footer">
    <span class="post-metadata">$prettytags$ | $published$</span>
    <div style="clear: both;"></div>
  </div>
</div>
<div id="comments" class="comments">
<script src="https://utteranc.es/client.js"
        repo="travitch/blog"
        issue-term="pathname"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<noscript>Enable JavaScript to view the comments</noscript>
</div>
